body {
    background-color: #183D3D;
    color: #FFFFFF;
    font-family: 'JetBrains Mono', monospace !important;
}

h2, h3 {
    color: #00FF00; 
}

.navbar-nav {
    margin-right: 20px;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.cart-btn {
    background-color: #00FF00;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.cart-sidebar {
    z-index: 1050; 
    overflow-y: auto;
}

.cart-sidebar.open {
    right: 0;
}


.cart-header {
    padding: 1rem;
    border-bottom: 1px solid #0C2635;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items {
    padding: 1rem;
}

.cart-footer {
    padding: 1rem;
    border-top: 1px solid #0C2635;
}

.cart-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #0C2635;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1040;
}

.cart-overlay.open {
    display: block;
}   

#finalizar-compra {
    background-color: #00FF00 !important;
    border-color: #00FF00 !important;
    color: #183D3D !important; 
}

#finalizar-compra:hover {
    background-color: #0C2635 !important;
    color: #b7c2c2 !important;
}


.card {
    min-height: 350px; 
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0C2635;
    color: #FFFFFF;
}

#product-list {
    height: 60%;
}

.add-to-cart {
    background-color: #00FF00;
    border-color: #00FF00 !important;
    color: #183D3D;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.add-to-cart:hover {
    background-color: #0C2635 !important;
    color: #b7c2c2 !important;
}



.card img {
    width: 100%; 
    height: 325px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0; 
}

.card-body {
    
    padding: 15px;
}

footer p {
    color: #FFFFFF;
    margin: 0 5%;
    text-align: left;
    font-size: 0.7em;
}

footer a {
    padding: 12px;
}



@media (max-width: 768px) {
    footer {
        margin: 1px;
    }

    
}

