body {
    background-color: #183D3D;
    color: #FFFFFF;
    font-family: 'JetBrains Mono', monospace !important;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.cart-btn {
    background-color: #00FF00;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    transition: background-color 0.2s ease-in;
    border-radius: 0.5em;
}

.services {
    text-align: center;
    padding: 50px 15px;
    color: #000;
}
.services p{
    color: #000;
}
.services h3{
    color: #000;
}

.card {
    background-color: #183D3D;
    padding: 20px;
}

.card img {
    max-width: 150px;
    margin-bottom: 10px;
    
}

.card a {
    display: inline-block;
    background-color: #4CAF50;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
}

.modal-content {
    background-color: #183D3D;
    color: #ffffff;
}

.btn-close {
    background-color: #00ff00;
    border: none;
}
.aside {
    margin-left: 25%; /* Ajusta este valor para centrarlo según el ancho de la página */
    width: 50%; /* Asegúrate de que el ancho no ocupe todo el espacio */
    text-align: center; /* Centra el texto dentro del aside */
}

.aside-content {
    padding: 20px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    
}


.btn-mas-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #32CD32; /* Cambia el color según tu diseño */
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

@media (min-width: 768px) {
    .aside-content {

        width: 30%;
        
        
    }
}

footer p {
    margin: 0;
}

.social-icons img {
    filter: invert(1);
}