body {
    background-color: #183D3D;
    color: #FFFFFF;
    font-family: 'JetBrains Mono', monospace !important;
}

.navbar-nav {
    margin-right: 20px;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}


.cart-btn {
    background-color: #00FF00;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    transition: background-color 0.2s ease-in;
    border-radius: 0.5em;
    color: #183D3D;
}

.cart-btn:hover {
    background-color: #0c2635;
    color: #b7c2c2;
}

#servicios {
    color: #00FF00;
}

.services {
    text-align: center;
    padding: 50px 15px;
    color: #FFFFFF;
}

.services p, .services h3 {
    color: #FFFFFF;
}

.card {
    background-color: #0c2635 !important;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.card img {
    width: 20%; 
    border-radius: 8px;
    border: 3px solid #ffffff49; 
}

.card-content h3, .card-content p {
    color: #FFFFFF;
    text-align: left;
}

.card a {
    display: inline-block;
    background-color: #00FF00;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #0c2635;
    color: #b7c2c2;
}

.modal-content {
    background-color: #183D3D;
    color: #FFFFFF;
}

.btn-close {
    background-color: #00ff00;
    border: none;
}

.aside-content {
    padding: 20px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: left;
}

.btn-mas-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00FF00;
    border: 1px solid #00FF00;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    
}

.btn-mas-info:hover {
    background-color: #0c2635;
    color: #b7c2c2;
}

footer p {
    color: #FFFFFF;
    margin-left: 10px;
    text-align: left;
}

footer a {
    padding: 12px;
}


@media (min-width: 768px) {
    .aside-content {
        width: 30%;
    }

   
}
@media (max-width: 768px) {
    
    .card img {
        width: 40%; 
    }
    footer {
        margin: 1px;
    }
}
